<% provide(:title, 'Unanswered Quesions') %>
<%= render 'layouts/header' %>
<% $questionNo = 0 %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    $(".qcontainer").ready(function(){
        $(".qcontainer").click(function(){
            if ($($(".qtitlecontainer").selector + ":hover").length > 0 && $(this).height() > 100) {
                $(this).stop().animate({'height': '35px'}, 300);
                $('input').each(function() {
                    if ($(this).parent().parent().parent().is(":animated")) {
                        $(this).attr('checked', false);
                    }
                });
            } else if ($(this).height() < 100) {
                $(this).stop().animate({'height': '275px'}, 300);
            }
        });
    });
</script>

<div style="width: 500px; margin-left: auto; margin-right: auto;">
  <h3 class="title">Showing All Topics</h3>
  <h5 class="title">View topics and select your prefrences. These answers will help match you with other users based on your Broficiency Quotient.</h5>
  <br />
  <div class="questions">
    <%=render @questions %>
  </div>
  <br />
</div>
